<ion-header>
  <ion-toolbar>
    <ion-title>My Alarms</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="alarm-content">
    <!-- Next Alarm Info -->
    <div class="next-alarm" *ngIf="nextAlarmText">
      <ion-icon name="time-outline"></ion-icon>
      <span>{{ nextAlarmText }}</span>
    </div>

    <button class="create-btn" (click)="createNewAlarm()">
      <ion-icon name="add-outline"></ion-icon>
      Create New Alarm
    </button>

    <div class="alarm-list" *ngIf="alarms.length > 0">
      <div class="alarm-item" *ngFor="let alarm of alarms" [class.disabled]="!alarm.enabled">
        <div class="alarm-info" (click)="editAlarm(alarm)">
          <div class="alarm-time-badge">{{ alarm.time }}</div>
          <div class="alarm-details">
            <h2>{{ alarm.name }}</h2>
            <p>{{ getAlarmDaysText(alarm) }}</p>
            <p class="media-info" *ngIf="alarm.mediaTitle">{{ alarm.mediaTitle }}</p>
          </div>
        </div>
        <div class="alarm-actions">
          <ion-toggle
            [(ngModel)]="alarm.enabled"
            (ionChange)="toggleAlarmEnabled(alarm)"
          ></ion-toggle>
          <button class="action-btn" (click)="testAlarm(alarm)" title="Test">
            <ion-icon name="play-outline"></ion-icon>
          </button>
          <button class="action-btn danger" (click)="confirmDelete(alarm)" title="Delete">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="empty-state" *ngIf="alarms.length === 0">
      <ion-icon name="alarm-outline"></ion-icon>
      <p>No alarms configured yet</p>
    </div>
  </div>
</ion-content>
