<ion-header>
  <ion-toolbar>
    <ion-title>Enter PIN</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pin-content">
  <div class="pin-container">
    <div class="pin-display">
      <div class="pin-text">{{getPinDisplay()}}</div>
      <div class="pin-length">{{pin.length}}/12 digits</div>
    </div>
    
    <div class="modern-keypad">
      <div class="keypad-row">
        <button class="keypad-button" *ngFor="let digit of ['1','2','3']" (click)="addDigit(digit)">
          {{digit}}
        </button>
      </div>
      <div class="keypad-row">
        <button class="keypad-button" *ngFor="let digit of ['4','5','6']" (click)="addDigit(digit)">
          {{digit}}
        </button>
      </div>
      <div class="keypad-row">
        <button class="keypad-button" *ngFor="let digit of ['7','8','9']" (click)="addDigit(digit)">
          {{digit}}
        </button>
      </div>
      <div class="keypad-row">
        <button class="keypad-button function-button" (click)="clearPin()">
          <ion-icon name="backspace-outline"></ion-icon>
        </button>
        <button class="keypad-button" (click)="addDigit('0')">
          0
        </button>
        <button class="keypad-button function-button" (click)="checkPinManually()" [disabled]="pin.length < 4">
          <ion-icon name="checkmark-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>