<ion-header>
  <ion-toolbar>
    <ion-title>Enter PIN</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pin-content">
  <div class="pin-container">
    <div class="pin-display">
      <div class="pin-text">{{getPinDisplay()}}</div>
      <div class="pin-length">{{pin.length}}/12 digits</div>
    </div>
    
    <div class="keypad">
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let digit of ['1','2','3']">
            <ion-button (click)="addDigit(digit)" fill="outline" expand="block" class="keypad-btn">{{digit}}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let digit of ['4','5','6']">
            <ion-button (click)="addDigit(digit)" fill="outline" expand="block" class="keypad-btn">{{digit}}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let digit of ['7','8','9']">
            <ion-button (click)="addDigit(digit)" fill="outline" expand="block" class="keypad-btn">{{digit}}</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button (click)="clearPin()" fill="outline" expand="block" class="keypad-btn">
              <ion-icon name="backspace-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="addDigit('0')" fill="outline" expand="block" class="keypad-btn">0</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="checkPinManually()" fill="solid" expand="block" class="keypad-btn" [disabled]="pin.length < 4">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>