<ion-header>
  <ion-toolbar>
    <ion-title>Enter PIN</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pin-content">
  <div class="pin-container">
    <div class="pin-display">
      <div class="pin-text">{{getPinDisplay()}}</div>
      <div class="pin-length">{{pin.length}}/12 digits</div>
    </div>
    
    <div class="pin-keypad">
      <div class="keypad-row">
        <button class="keypad-btn" (click)="addDigit('1')">1</button>
        <button class="keypad-btn" (click)="addDigit('2')">2</button>
        <button class="keypad-btn" (click)="addDigit('3')">3</button>
      </div>
      <div class="keypad-row">
        <button class="keypad-btn" (click)="addDigit('4')">4</button>
        <button class="keypad-btn" (click)="addDigit('5')">5</button>
        <button class="keypad-btn" (click)="addDigit('6')">6</button>
      </div>
      <div class="keypad-row">
        <button class="keypad-btn" (click)="addDigit('7')">7</button>
        <button class="keypad-btn" (click)="addDigit('8')">8</button>
        <button class="keypad-btn" (click)="addDigit('9')">9</button>
      </div>
      <div class="keypad-row">
        <button class="keypad-btn action-btn" (click)="clearPin()">
          <ion-icon name="backspace-outline"></ion-icon>
        </button>
        <button class="keypad-btn" (click)="addDigit('0')">0</button>
        <button class="keypad-btn action-btn" (click)="checkPinManually()" [disabled]="pin.length < 1">
          <ion-icon name="checkmark-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>