<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{artist.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-virtual-grid 
        [items]="media" 
        [covers]="covers"
        [itemsPerPage]="12"
        (itemClick)="coverClicked($event)"
        (nameClick)="mediaNameClicked($event)"
        (loadMoreArtwork)="loadMoreArtwork($event)">
    </app-virtual-grid>
</ion-content>