ion-back-button {
    --min-height: 70px;
    --min-width: 120px;
    --icon-font-size: 30px;
}

ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 8px;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}