<ion-content>
  <div class="notification-layout">
    <!-- Snooze at top (quick grab) -->
    <div class="snooze-options">
      <button class="snooze-btn" (click)="snooze(5)">
        <ion-icon name="time-outline"></ion-icon>
        5 min
      </button>
      <button class="snooze-btn" (click)="snooze(10)">
        <ion-icon name="time-outline"></ion-icon>
        10 min
      </button>
      <button class="snooze-btn" (click)="snooze(15)">
        <ion-icon name="time-outline"></ion-icon>
        15 min
      </button>
    </div>

    <!-- Alarm Info Center -->
    <div class="alarm-info">
      <ion-icon name="alarm-outline" class="alarm-icon"></ion-icon>
      <h2>{{ alarm?.name }}</h2>
      <p class="alarm-time">{{ alarm?.time }}</p>
      <p class="alarm-media" *ngIf="alarm?.mediaTitle">{{ alarm?.mediaTitle }}</p>
    </div>

    <!-- Stop at bottom (deliberate action) -->
    <button class="stop-btn" (click)="stopAlarm()">
      <ion-icon name="stop-circle-outline"></ion-icon>
      Stop Alarm
    </button>
  </div>
</ion-content>
