.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  
  ion-spinner {
    margin-bottom: 1rem;
  }
}

ion-toolbar {
  ion-back-button {
    --min-height: 44px;
    --min-width: 44px;
    --icon-font-size: 24px;
  }
}