<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button disabled="true">
                <ion-icon slot="icon-only" name=""></ion-icon>
                <!-- Dummy button to center ion-segment -->
            </ion-button>
        </ion-buttons>
        <ion-segment value="{{this.category}}" (ionChange)="categoryChanged($event)">
            <ion-segment-button value="audiobook">
                <ion-icon name="book-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="music">
                <ion-icon name="musical-notes-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="playlist">
                <ion-icon name="document-text-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="radio">
                <ion-icon name="radio-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end">
            <ion-button (click)="configButtonPressed()">
                <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editButtonPressed()">
                <ion-icon slot="icon-only" name=""></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="category === 'audiobook' || category === 'music'; else mediaBlock">
        <app-virtual-grid 
            [items]="artists" 
            [covers]="covers"
            [itemsPerPage]="12"
            (itemClick)="artistCoverClicked($event)"
            (nameClick)="artistNameClicked($event)"
            (loadMoreArtwork)="loadMoreArtistArtwork($event)">
        </app-virtual-grid>
    </div>
    
    <ng-template #mediaBlock>
        <app-virtual-grid 
            [items]="media" 
            [covers]="covers"
            [itemsPerPage]="12"
            (itemClick)="mediaCoverClicked($event)"
            (nameClick)="mediaNameClicked($event)"
            (loadMoreArtwork)="loadMoreMediaArtwork($event)">
        </app-virtual-grid>
    </ng-template>
</ion-content>